h1 {
  text-align: center;
  color: lightslategrey;
}

h2 {
  color: teal;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgb(245, 222, 212);
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.little-container {
  text-align: center;
  width: 200px;
}
